@import "tailwindcss";

@import "../design-system/css/theme.css";
@import "../design-system/css/typography.css";
@import "../design-system/css/utilities.css";
@import "../design-system/css/animations.css";

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}